*{padding: 0px;margin: 0px;border:0px;list-style-type: none;box-sizing: border-box;outline: 0px;font-display: swap;font-family: font("Regular");}
a{text-decoration: none;color: inherit;}
body{float: left;width: $full-width;background-color: $white;}